{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Calculadoras de Tolerancias y Ajustes Mecánicos Online" %}{% endblock %}

{% block meta_description %}{% trans "Calcula ajustes eje-agujero, pin-agujero y tolerancias ISO gratis online. Herramientas para diseño mecánico e ingeniería industrial." %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tolerances/css/tolerances-index.css' %}">
    <link rel="stylesheet" href="{% static 'tolerances/css/tolerances-pin-hole.css' %}">
    <link rel="stylesheet" href="{% static 'menuapp/css/sidebar.css' %}">
{% endblock %}

{% block content %}
        <h1>{{ titulo }}</h1>
        <p>{{ descripcion }}</p>
        
        <div class="menu-options">
            <div class="option-card">
                <a href="{% url 'tolerances_pin_hole' %}">
                    <h3>{% trans "Cálculo de Tolerancias diametral Pin Agujero" %}</h3>
                    <p>{% trans "Calcula el ajuste entre pin y agujero si es un ajuste apretado u holgado" %}</p>
                    <img class="preview-img" src="{% static '/tolerances/images/PinHole.png' %}" alt="{% trans 'Ajuste Pin-Hole' %}">
                </a>
            </div>
            <div class="option-card">
                <a href="{% url 'tolerances_pivot_bushing_hole_radial' %}">
                    <h3>{% trans "Tolerancias radiales pivot-bushing-agujero" %}</h3>
                    <p>{% trans "Calcula el ajuste del paquete pivot-bushing-agujero si es un ajuste apretado u holgado" %}</p>
                    <img class="preview-img" src="{% static '/tolerances/images/Pivot_pin_system_radial.png' %}" alt="{% trans 'Eje Casquillo Agujero' %}">
                </a>
            </div>
            <div class="option-card">
                <a href="{% url 'tolerances_pivot_bushing_hole_axial' %}">
                    <h3>{% trans "Tolerancias axiales pivot-bushing-agujero" %}</h3>
                    <p>{% trans "Calcula el ajuste axial del paquete pivot-bushing-agujero si es un ajuste apretado u holgado" %}</p>
                    <img class="preview-img" src="{% static '/tolerances/images/Pivot_pin_system_axial.png' %}" alt="{% trans 'Eje Casquillo Agujero' %}">
                </a>
            </div>
            <div class="option-card">
                <a href="{% url 'tolerances_insert_support' %}">
                    <h3>{% trans "Tolerancias axiales pivot-bushing-agujero" %}</h3>
                    <p>{% trans "Calcula el ajuste axial del paquete pivot-bushing-agujero si es un ajuste apretado u holgado" %}</p>
                    <img class="preview-img" src="{% static '/tolerances/images/Spacer_Housing.png' %}" alt="{% trans 'Eje Casquillo Agujero' %}">
                </a>
            </div>
        </div>
        <h1> {% trans "Vídeos explicativos sobre el cálculo de tolerancias" %}</h1>
        <div class="menu-options">
            <div class="option-card">
                <a href="{% url 'video_tolerancias_absolutas' %}?v=p3TKKJof8W4" target="_blank" rel="noopener noreferrer">
                    <h3>{% trans "Cálculo de tolerancias absolutas" %}</h3>
                    <p>{% trans "Operaciones y cálculos entre dimensiones con tolerancias absolutas" %}</p>
                </a>
            </div>
            <div class="option-card">
                <a href="{% url 'video_tolerancias_absolutas' %}?v=c8cum5WH6Ec" target="_blank" rel="noopener noreferrer">
                    <h3>{% trans "Simulación de Monte Carlo en el cálculo de tolerancias" %}</h3>
                    <p>{% trans "Explicación de la simulación de Monte Carlo en el cálculo de tolerancias" %}</p>
                </a>
            </div>
        </div>

{% endblock %}
