{% extends 'base.html' %}
{% load static %}
{% block title %}Iniciar Sesión{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'menuapp/css/estiloss.css' %}">
  <link rel="stylesheet" href="{% static 'menuapp/css/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'menuapp/css/signup.css' %}">
{% endblock %}

{% block content %}
  {% static 'global/images/header-background.jpeg' as bg_url %}
  <div class="page-background" style="background-image: url('{{ bg_url }}');"></div>

  <main class="wrap">
    <section class="card form-card">
      <h1>Iniciar Sesión</h1>
      
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_username">Usuario:</label>
          <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
        </div>
        
        <div class="form-group">
          <label for="id_password">Contraseña:</label>
          <input type="password" name="password" autocomplete="current-password" required id="id_password">
        </div>
        
        {% if form.errors %}
          <div class="error-msg">
            Tu usuario y/o contraseña no coinciden. Inténtalo de nuevo.
          </div>
        {% endif %}
        
        <button type="submit" class="button button-submit">Entrar</button>
        <input type="hidden" name="next" value="{{ next }}">
      </form>
    </section>
  </main>
{% endblock %}