{% load static %}
<div class="form-group">
    <label for="tipo_final">Tipo de extremos:</label>
    <div class="spring-end-selector">
        <div class="end-option traccion-end-option " data-value="anillo_doble_aleman_entero_centrado">
            <div class="spring-image">
                    <img class="spring-thumb"
                         src="{% static 'muelles/img/anillo_doble_aleman_entero_centrado.png' %}" 
                         alt="Muelle con anillo doble aleman entero centrado">
            </div>
            <div class="end-label">Anillo doble aleman entero centrado</div>
        </div>

        <div class="end-option traccion-end-option"
            data-value="anillo_doble_aleman_entero_lateral">
            <div class="spring-image">
                    <img class="spring-thumb" 
                         src="{% static 'muelles/img/anillo_doble_aleman_entero_lateral.png' %}" 
                         alt="Muelle con anillo doble aleman entero lateral">
            </div>
            <div class="end-label">Anillo doble aleman entero lateral</div>
        </div>

        <div class="end-option traccion-end-option" data-value="anillo_simple_aleman_centrado">
            <div class="spring-image">
                    <img class="spring-thumb"
                         src="{% static 'muelles/img/anillo_simple_aleman_centrado.png' %}" 
                         alt="Muelle con anillo simple aleman centrado">
            </div>
            <div class="end-label">Anillo simple aleman centrado</div>
        </div>

        <div class="end-option traccion-end-option" data-value="anillo_simple_aleman_entero_lateral">
            <div class="spring-image">
                    <img class="spring-thumb" src="{% static 'muelles/img/anillo_simple_aleman_entero_lateral.png' %}" 
                        alt="Muelle con anillo simple aleman entero lateral">
            </div>
            <div class="end-label">Anillo simple aleman entero lateral</div>
        </div>

        <div class="end-option traccion-end-option" data-value="anillo_simple_aleman_entero_centrado">
            <div class="spring-image">
                    <img class="spring-thumb" src="{% static 'muelles/img/anillo_simple_aleman_entero_centrado.png' %}" 
                        alt="Muelle con anillo simple aleman entero centrado">
            </div>
            <div class="end-label">Anillo simple aleman entero centrado</div>
        </div>

        <div class="end-option traccion-end-option" data-value="anillo_especial">
            <div class="spring-image">
                    <img class="spring-thumb" src="{% static 'muelles/img/anillo_especial.png' %}" 
                        alt="Muelle con anillo especial">
            </div>
            <div class="end-label">Anillo especial</div>
        </div>


    </div>
</div>
