{% load static %}
<div class="form-group">
    <label for="tipo_final">Tipo de extremos:</label>
    <div class="spring-end-selector">
        <input type="hidden" name="tipo_final" id="tipo_final" value="{% firstof request.POST.tipo_final 'rectificado' %}">
        
        <div class="end-option compresion-end-option {% if request.POST.tipo_final == 'abierto' %}selected{% endif %}" data-value="abierto" {% if request.POST.tipo_muelle == 'traccion' %}style="display: none;"{% endif %}>
            <div class="spring-image">
                    <img class="spring-thumb" src="{% static 'muelles/img/open-end-compression-rectified.jpg' %}" 
                        alt="Muelle con extremos abiertos rectificados">
            </div>
            <div class="end-label">Abierto rectificado</div>
        </div>
        
        <div class="end-option compresion-end-option {% if request.POST.tipo_final == 'cerrado' %}selected{% endif %}" data-value="cerrado" {% if request.POST.tipo_muelle == 'traccion' %}style="display: none;"{% endif %}>
            <div class="spring-image">
                    <img class="spring-thumb" src="{% static 'muelles/img/closed-end-compression-rectified.jpg' %}" 
                        alt="Muelle con extremos cerrados rectificados">
            </div>
            <div class="end-label">Cerrado rectificado</div>
        </div>
        
        <div class="end-option compresion-end-option {% if request.POST.tipo_final == 'semi-cerrado' %}selected{% endif %}" data-value="semi-cerrado" {% if request.POST.tipo_muelle == 'traccion' %}style="display: none;"{% endif %}>
            <div class="spring-image">
                    <img class="spring-thumb" src="{% static 'muelles/img/open-end-compression-not-rectified.gif' %}" 
                        alt="Muelle con extremos abiertos no rectificados">
            </div>
            <div class="end-label">Abierto no rectificado</div>
        </div>
        
        <div class="end-option compresion-end-option {% if request.POST.tipo_final == 'rectificado' or not request.POST.tipo_final %}selected{% endif %}" data-value="rectificado" {% if request.POST.tipo_muelle == 'traccion' %}style="display: none;"{% endif %}>
            <div class="spring-image">
                    <img class="spring-thumb" src="{% static 'muelles/img/closed-end-compression-not-rectified.jpg' %}" 
                        alt="Muelle con extremos cerrados no rectificados">
            </div>
            <div class="end-label">Cerrado no rectificado</div>
        </div>
    </div>
</div>